// Custom styles.

// 主页文章添加阴影效果
.post {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

.main-inner {
  opacity: 0.9;
}

// 背景
body {
    background-image: url(/images/background.jpg);
    background-position:50% 50%;
    background-attachment: fixed; // 不随屏幕滚动而滚动
    background-repeat: no-repeat; // 如果背景图不够屏幕大小则重复铺，改为no-repeat则表示不重复铺

}
