body {
    height: 100%;
    width: 100%;
    background: #DDEEFE;
}

@font-face {
    font-family: dight;
    src: url('digital.ttf');
}

#loveHeart {
    position: absolute;
    width: 670px;
    height: 625px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

#garden {
    width: 100%;
    height: 100%;
}

#words {
    font-family: "sans-serif";
    width: 500px;
    font-size: 24px;
    color: #666;
}

#messages {
    display: none;
}

#elapseClock {
    text-align: right;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#elapseClock .digit {
    font-family: "digit";
    font-size: 36px;
}

#loveu {
    padding: 5px;
    font-size: 22px;
    margin-top: 80px;
    margin-right: 120px;
    text-align: right;
    display: none;
}

#loveu .signature {
    margin-top: 10px;
    font-size: 20px;
    font-style: italic;
}
